.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  
  .card {
    background-color: brown;
    display: grid;
    place-content: center;
  }

@media (max-width:600px) {
    .container {
        grid-template-columns: 1fr 1fr;
      }
}