.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:24px
  }

  .card {
    border-radius: 8px;
    height: 180px;
    display: grid;
    place-items: center;

  }
  .card_title {
    display: flex;
    flex-direction: column;
  }

@media (max-width:600px) {
    .container {
        grid-template-columns: 1fr 1fr;
        gap: 5px
      }

}