.wrapper {
  padding:1rem 6rem;
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.hero_text {
  font-weight: bolder;
  font-size: 96px;
}

.browse {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.browse_card {
  background-color: brown;
}